<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- vue.js 사용 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<h4>학생 관리</h4>
		<hr>
		<table>
			<thead>
				<tr>
					<td>학생아이디</td>
					<td>학생명</td>
					<td>이메일</td>
					<td>연락처</td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(row, index) in studentList" :key="index" @click="detailStudent(row.studentId)" style="cursor:pointer;">
					<td>{{row.studentId}}</td>
					<td>{{row.studentNm}}</td>
					<td>{{row.email}}</td>
					<td>{{row.phone}}</td>
				</tr>
			</tbody>

		</table>
		<hr>
		<form>
			<table>
				<tbody>
					<tr>
						<td>학생명</td>
						<td><input type="text" v-model="student.studentNm" name="studentNm"></td>
					</tr>
					<tr>
						<td>이메일</td>
						<td><input type="text" v-model="student.email" name="email"></td>
					</tr>
					<tr>
						<td>연락처</td>
						<td><input type="text" v-model="student.phone" name="phone"></td>
					</tr>
				</tbody>
			</table>
		</form>
		<div>
			<button @click="insertStudent">등록</button>
			<button @click="updateStudent">수정</button>
			<button @click="deleteStudent">삭제</button>
			<button @click="clear">초기화</button>
		</div>
	</div>

	<script>
		new Vue({
			el: '#app',
			data() {
				return {
					studentList: [],
					student: {}
				}
			},
			methods: {
				async listStudent() { //목록
					try{
						let response = await fetch('http://localhost:8080/students');
						let data = await response.json();
						this.studentList = data;
					} catch(error) {
						console.log(error);
					}
				},
				async insertStudent() { //등록
					let urlParams = new URLSearchParams(this.student);
					let fetchOptions = {
						method: 'POST',
						body: urlParams
					}
					try{
						let response = await fetch('http://localhost:8080/students', fetchOptions);
						let data = await response.json();
						this.listStudent();
						this.clear();
					} catch(error) {
						console.log(error)
					}
				},
				async updateStudent() { //수정
					let urlParams = new URLSearchParams(this.student);
					let fetchOptions = {
						method: 'PUT',
						body: urlParams
					}
					try{
						let response = await fetch('http://localhost:8080/students/'+this.student.studentId, fetchOptions);
						let data = await response.json();
						this.listStudent();
						this.clear();
					} catch(error) {
						console.log(error)
					}
				},
				async deleteStudent() { //삭제
					let fetchOptions = {
						method: 'DELETE'
					}
					try{
						let response = await fetch("http://localhost:8080/students/"+this.student.studentId, fetchOptions);
						let data = await response.json();
						this.listStudent();
						this.clear();
					} catch(error) {
						console.log(error);
					}
				},
				async detailStudent(studentId) {
					try{
						let response = await fetch("http://localhost:8080/students/"+ studentId);
						let data = await response.json();
						this.student = data;
					} catch(error) {
						console.log(error);
					}
				},
				clear() {
					this.student.studentId =0;
					this.student.studentNm ='';
					this.student.email ='';
					this.student.phone ='';
				}
			},
			created() {
				this.listStudent();
			}
		});

	</script>
</body>
</html>